@import "./base/_base";

@import "./utils/colors";

@import "./pages/screenspinner";

// Header
@import "./layouts/headermain";

// Emplacement du restaurant
@import "./pages/localisation";

// Présentation et bouton
@import "./pages/intromain";
@import "./components/buttonmain";

// Fonctionnement
@import "./pages/blocnotice";

// Cartes des restaurants
main {
    background:$colorbggreynormal;
    padding: 0 .5rem 1.5rem .5rem;
        h2 {
            padding-top: 3rem;
            padding-left: 1.5rem;
        }
    
    @import "./components/new";
    
    .container {
        padding-bottom: 1.5rem;
        
        @import "./pages/cartemain";
    }
}
    
// Animation du coeur
@import "./components/heart";

// Footer commun à toutes les pages
@import "./layouts/footer";

// Breakpoint Tablette et Desktop
@import "./base/breakpointmain";