@import "./base/_base";
@import "./utils/colors";
@import "./pages/screenspinner";
@import "./layouts/headermain";
@import "./pages/localisation";
@import "./pages/intromain";
@import "./components/buttonmain";
@import "./pages/blocnotice";

// Cartes des restaurants
main {
    background:$colorbggreynormal;
    padding: 0 .5rem 1.5rem .5rem;
        h2 {
            padding-top: 3rem;
            padding-left: 1.5rem;
        }
    
    @import "./components/new";
    
    .container {
        padding-bottom: 1.5rem;
        
        @import "./pages/cartemain";
    }
}
    
@import "./components/heart";
@import "./layouts/footer";
@import "./base/breakpointmain";