@font-face {
  font-family: "roboto";
  src: url(polices/Roboto-Regular.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(polices/Shrikhand-Regular.ttf);
}
html {
  font-size: 100%;
}

* {
  font-family: "roboto", sans-serif;
}

body {
  margin: 0;
}

.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.9;
  z-index: 1;
  animation: screen 3s forwards 3.6s;
}
.screen .blocspinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screen .blocspinner > div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  animation: balle 1.2s ease-in-out both 4;
}
.screen .blocspinner .balle1 {
  background: #9356dc;
}
.screen .blocspinner .balle2 {
  animation-delay: 0.2s;
  background: #ff79da;
}
.screen .blocspinner .balle3 {
  animation-delay: 0.4s;
  background: #95e2d0;
}
@keyframes balle {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes screen {
  to {
    z-index: -999;
  }
}

header nav h1 {
  box-shadow: 0px 0px 10px #7c7c7c8c;
  position: relative;
  background-color: #fff;
  font-family: "shrikhand", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.local {
  background-color: #f1f1f1;
}
.local h3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
.local h3 .fas {
  padding-right: 0.5rem;
}

.reservez {
  text-align: center;
  background: #f7f7f7;
  padding: 1rem;
}
.reservez h2 {
  font-weight: 800;
  font-size: 1.6rem;
}
.reservez p {
  font-size: 1.4rem;
}
.reservez div .btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 1rem 0 3rem 0;
  width: 17rem;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
.reservez div .btn:hover::after {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8);
  opacity: 0.3;
}
.reservez div .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 2rem;
}

.blocnotice {
  padding: 2rem 2rem 2rem 2.5rem;
}
.blocnotice h2 {
  margin-left: -1rem;
}
.blocnotice .notice {
  background: #f7f7f7;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 1.5rem;
  margin: 0 0 1.2rem;
  height: 5rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
.blocnotice .notice:hover .fas {
  color: #9356dc;
  opacity: 1;
  transition: 0.2s;
}
.blocnotice .notice:hover::after {
  opacity: 0.1;
}
.blocnotice .notice::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9356dc;
  opacity: 0;
  border-radius: 1.5rem;
  transition: 0.2s;
}
.blocnotice .notice .rond {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: -1rem;
  background: #9356dc;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}
.blocnotice .notice .fas {
  position: absolute;
  left: 2.5rem;
  opacity: 0.5;
}
.blocnotice .notice p {
  position: absolute;
  left: 5rem;
  font-weight: bold;
}

main {
  background: #f7f7f7;
  padding: 0 0.5rem 1.5rem 0.5rem;
}
main h2 {
  padding-top: 3rem;
  padding-left: 1.5rem;
}

.new {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: #99e2d0;
  color: #089270;
  font-weight: bold;
  border-radius: 0.15rem;
}

.container {
  padding-bottom: 1.5rem;
}

.carte {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 22rem;
  margin: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.piedcarte {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  margin-bottom: 1rem;
  color: black;
}
.piedcarte h3 {
  font-size: 1.3rem;
  max-width: 15rem;
  margin: 1.1rem 0 0 1rem;
}
.piedcarte p {
  font-size: 1.2rem;
  max-width: 15rem;
  margin: 0.8rem 0 0 1rem;
}

.empty {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  margin: auto 1rem;
}
.empty:hover {
  opacity: 0;
  transition: all 0.2s;
}

.full {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 2rem;
  margin: auto 1rem;
  opacity: 0;
  transition: 0.3s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.full:hover {
  opacity: 1;
  transition: all 0.3s;
  transform: scale(1.1);
}

footer {
  padding: 1rem 0 1rem 2rem;
  background: #2b2b2b;
}
footer p {
  font-family: "shrikhand", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 1.8rem;
}
footer ul li a .fas {
  margin-right: 0.5rem;
}

@media screen and (min-width: 970px) {
  .troisnotices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    column-gap: 3rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}

/*# sourceMappingURL=style.css.map */
