.new {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    color: $colornouveau;
    font-weight: bold;
    background-color: $colortertiary;
    padding: .5rem .8rem;
    border-radius: .15rem;
}