.nomresto {
    margin: 0 2rem;

        h2 {
            font-family: "shrikhand", sans-serif;
            font-size: 1.6rem;
            padding-top: 2rem;
            padding-right: 2rem;
            font-weight: normal;
        }
    }